<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DotNetTwitchBot</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="raidhistory">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Raid History
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customcommands">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Custom Commands
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aliases">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Aliases
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Keywords">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Keywords
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="audiocommands">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Audio Commands
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autoshoutouts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Auto Shoutouts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="giveaway">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Giveaway
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="giveawaysettings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Giveaway Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viewers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Viewers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timergroups">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Timers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blacklist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blacklist
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="knownbots">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Known Bots
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playlists">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Playlists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="musicplayer" target="_blank">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Music Player
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
