@{
    Layout = "";
}
<div id="player"></div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ytplayer.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha384-i61gTtaoovXtAbKjo903+O55Jkn2+RtzHtvNez+yI49HAASvznhe9sZyjaSHTau9"
    crossorigin="anonymous"></script>