@page "/tools"
@using PenguinTwitchBot.Bot.ServiceTools
@attribute [Authorize(Roles = "Streamer, Editor")]

<h3>Tools</h3>

<PenguinTwitchBot.Pages.Components.QuickTools />

@code {
    [Inject] private ISnackbar Snackbar { get; set; } = null!;
}
