@page "/aliases/create"
@using Meziantou.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@inject DotNetTwitchBot.Bot.Commands.Custom.Alias AliasCommand
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<PageTitle>Create Alias</PageTitle>
@if (theAlias == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudCard>
        <EditForm Model="@theAlias" OnValidSubmit="OnSubmit">
            <MudCardContent>
                <MudTextField Label="Alias" Required="true" RequiredError="Alias is required"
                @bind-Value="theAlias.AliasName" />
                <MudTextField Label="Command" Required="true" RequiredError="Command is required"
                @bind-Value="theAlias.CommandName" />
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                    Submit
                </MudButton>
            </MudCardContent>
        </EditForm>
    </MudCard>
}

@code {
    private DotNetTwitchBot.Bot.Models.AliasModel? theAlias { get; set; } = new AliasModel();

    public async void OnSubmit()
    {
        if (theAlias == null) return;
        await AliasCommand.CreateOrUpdateAliasAsync(theAlias);
        navigationManager.NavigateTo($"/aliases");
    }
}