@page "/createknownbot"
@using Meziantou.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@using DotNetTwitchBot.Bot.Models;
@inject DotNetTwitchBot.Bot.Commands.Moderation.IKnownBots KnownBots
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<PageTitle>Edit Known Bots</PageTitle>
<style type="text/css">
    .white-text {
        color: white;

    }

    textarea {
        width: 100%
    }

    input {
        width: 100%;
    }
</style>

@if (knownBot == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="knownBot" OnSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <GenericForm Model="knownBot" />

        <button type="submit">Submit</button>
    </EditForm>
}

@code {
    [Parameter]
    public int id { get; set; }
    private KnownBot? knownBot { get; set; } = new();

    public async void OnSubmit()
    {
        if (knownBot == null) return;
        await KnownBots.AddKnownBot(knownBot);
        navigationManager.NavigateTo($"/knownbots");
    }
}