@page "/editviewer/{id:int}"
@using Meziantou.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@inject DotNetTwitchBot.Bot.Commands.Features.ViewerFeature viewerFeature
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<PageTitle>Edit Viewer</PageTitle>
@if (viewer == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MudCard>
        <EditForm Model="@viewer" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator />
            <MudCardContent>
                <MudTextField @bind-Value="viewer.Username" Label="Username" ReadOnly="true" Variant="Variant.Text" />
                <MudTextField @bind-Value="viewer.DisplayName" Label="Display Name" ReadOnly="true"
                    Variant="Variant.Text" />
                <MudTextField Label="Title" Required="false" @bind-Value="viewer.Title" />
                <MudTextField @bind-Value="viewer.LastSeen" Label="Last Seen" ReadOnly="true" Variant="Variant.Text" />
                <MudCheckBox ReadOnly="true" @bind-Checked="viewer.isSub" Label="Subscriber?" />
                <MudCheckBox ReadOnly="true" @bind-Checked="viewer.isVip" Label="VIP?" />
                <MudCheckBox ReadOnly="true" @bind-Checked="viewer.isMod" Label="Moderator?" />
                <MudCheckBox ReadOnly="true" @bind-Checked="viewer.isBroadcaster" Label="Broadcaster?" />

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                    Submit
                </MudButton>
            </MudCardContent>
        </EditForm>
    </MudCard>
}

@code {
    [Parameter]
    public int id { get; set; }

    private DotNetTwitchBot.Bot.Models.Viewer? viewer { get; set; }

    protected override async void OnParametersSet()
    {
        viewer = await viewerFeature.GetViewer(id);
        StateHasChanged();
    }

    public async void OnSubmit()
    {
        if (viewer == null) return;
        await viewerFeature.SaveViewer(viewer);
        navigationManager.NavigateTo($"/viewers");
    }
}