@page "/"
@inject DotNetTwitchBot.Bot.Commands.Moderation.Admin Admin

<PageTitle>Index</PageTitle>
<style type="text/css">
    .white-text {
        color: white;

    }
</style>

<div>
    <button class="btn btn-primary btn-xs" @onclick="PauseAlerts">Pause Alerts</button>
</div>

<div>
    <button class="btn btn-primary btn-xs" @onclick="ResumeAlerts">Resume Alerts</button>
</div>

@code {
    private async Task PauseAlerts()
    {
        await Admin.PauseAlerts();
    }

    private async Task ResumeAlerts()
    {
        await Admin.ResumeAlerts();
    }
}