@page "/"
@inject DotNetTwitchBot.Bot.Commands.Moderation.Admin Admin

@* <style type="text/css">
.white-text {
color: white;

}
</style>

<div>
<button class="btn btn-primary btn-xs" @onclick="PauseAlerts">Pause Alerts</button>
</div>

<div>
<button class="btn btn-primary btn-xs" @onclick="ResumeAlerts">Resume Alerts</button>
</div> *@

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="PauseAlerts">Pause Alerts</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ResumeAlerts">Resume Alerts</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Reconnect">Reconnect</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ForceOnline">Force Online</MudButton>

@code {
    private async Task PauseAlerts()
    {
        await Admin.PauseAlerts();
    }

    private async Task ResumeAlerts()
    {
        await Admin.ResumeAlerts();
    }

    private async Task Reconnect()
    {
        await Admin.ReconnectTwitchWebsocket();
    }

    private async Task ForceOnline()
    {
        await Admin.ForceStreamOnline();
    }
}